@charset "UTF-8";
.category_left{
  width: 90px;
  height: 100%;
  background-color: #ffffff;
  float: left;
  position: relative;
}
.category_left a {
  display: block;
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  background-color: pink;
}
.category_left li.now a{
  background-color: #fff;
  border-right:none;
}
.category_right{
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.category_right li {
  float: left;
  width: 33.33%;
}
.category_right li img {
  width: 62px;
  height: 62px;
  margin: 0 auto;
}
.category_right li p {
  text-align: center;
}
.tips {
  color: #1d1f21;
  padding: 10px;
}